  .debit-content-left h1 {
    text-align: left;
    color: black; 
  }
  
  .debit-list {
    list-style: none;
    padding: 0;
    margin: 16px 0;
  }
  
  .debit-item {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    width: 600px;
    display: flex;
    flex-direction: row;
  }
  
  .debit-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .debit-amount {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: green; 
  }
  
  .debit-description {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .debit-date {
    font-size: 14px;
    color: #777;
  }
  
  .account-balance {
    color: white;
    border-radius: 4px;
    font-size: 34px;
    padding: 8px;
    margin: 0;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin: 16px;
  }
  
  .form-label {
    text-align: left;
    background-color: #25654f; 
    padding: 4px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .form-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #2e6150; 
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-button {
    padding: 8px 8px;
    font-size: 16px;
    color: white;
    background-color: #186329; 
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
    cursor: pointer;
  }
  

  .debits {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    background-color: #91caae;
    padding: 0;
    margin: 0;
    min-height: 100vh;
  }
  
  .debit-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    width: 100%;
    max-width: 1200px;
    padding-top: 20px;
  }
  
  .debit-content-right {
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
  }
  
  /* .debit-form {
    background-color: white;
    color: black; 
    border-radius: 6px;
    width: 100%;
    width: 600px;
    padding: 20px;
    align-items: center;
    margin-top: 16px;
    align-self: center;
  } */

  .debt-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    max-width: 600px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ccc; 
  }
  